<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="/js/all.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <% include ./partials/header.ejs %>
</header>


<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>
</html>

